#protein {
  background-color: #FFA07A;
}
#carbs {
  background-color: #0EF763;
}
#fats {
  background-color: #F7AA0E;
}
p {
  color: black;
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  
}
@media (max-width: 767px) {
  
}
@media (min-width: 992px) {
  
}
