.navbar-brand {
	padding-top: 25px;
  height: 60px;
}

.navbar-brand h1 {
	color: #000000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

section {
  background-color: grey;
  border: 1px solid black;
  padding: 10px;
}

.row div {
  padding: 20px 0px 20px 0px;
}
